@use '../../styles/constants.scss';

.page-title {
  font-size: 2rem;
  text-align: center;
  color: constants.$secondary-color;
  margin-top: 85vh;
  margin-bottom: 10vh;
}

@media screen and (min-width: constants.$breakpoint-sm) {
  .page-title {
    font-size: 2.4rem;
  }
}

@media screen and (min-width: constants.$breakpoint-md) {
  .page-title {
    font-size: 3rem;
  }
}

@media screen and (min-width: constants.$breakpoint-lg) {
  .page-title {
    font-size: 4rem;
  }
}
