// Couleurs
$primary-color: #032163;
$secondary-color: #f9f1dc;
$text-color: #21231b;

// Breakpoints
$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;
$breakpoint-2xl: 1536px;
