// Couleurs
$primary-color: #021b4f;
$secondary-color: #f9f1dc;
$text-color: #21231b;
$space-color: #0c0b08;

// Bordures
$radius-s: 5px;
$radius-m: 10px;

// Breakpoints
$breakpoint-xs: 375px;
$breakpoint-sm: 425px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;
$breakpoint-2xl: 1536px;
